$blue: #21baea;
$gray: #8b8b8b;
$sepColor: #dadada;
$textGray: #949494;

html, body {
    font-family: 'Crimson Text', serif;
    color: black;
    background-color: white;
    height: 100%;
}

body {
    margin: 0;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.back-image-header {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 574px;
    background-image: url(../images/first-background.png);
    background-size: cover;

    &.news { height: 280px; }
    &.about { height: 240px; top: 1920px; }
}

.back-image-review {
    position: absolute;
    z-index: 0;
    top: 2306px;
    left: 0;
    width: 100%;
    // height: 554px;
    height: 450px;
    background-image: url(../images/second-background.png);
    background-size: cover;
}

.banner {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    height: 215px;
    background-color: rgba(255,255,255,0.5);

    &.news { height: 90px; top: 160px; }
}

.banner-footer {
    position: absolute;
    top: 2756px;
    left: 0;
    width: 100%;
    height: 94px;
    background-color: #eeeeee;

    &.news { top: 2160px; }
}

.banner-slider-1 {
    position: absolute;
    top: 946px;
    left: 0;
    width: 100%;
    height: 340px;
    background-color: #fafafa;
}

.banner-slider-3 {
    position: absolute;
    top: 1626px;
    left: 0;
    width: 100%;
    height: 340px;
    background-color: #fafafa;
}

.banner-news {
    position: absolute;
    left: 0;
    width: 100%;
    height: 600px;
    background-color: #fafafa;

    &.one { top: 700px; }
}

.line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: $blue;
}

.sep {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $sepColor;

    &.sep1 { top: 946px; }
    &.sep2 { top: 1286px; }
    &.sep3 { top: 1626px; }
    &.sep4 { top: 1966px; }
    &.sep5 { top: 2000px; }
}

.main-container {
    width: 960px;
    margin: 0 auto;
    height: 100%;

    .main-block {
        height: 574px;
        position: relative;
        z-index: 1;

        &.reduced {
            height: 280px;
        }

        .website-link {
            display: block;
            position: relative;
            top: 28px;
            width: 309px;
            height: 30px;
            margin: 0 auto;
        }

        .logo {
            position: absolute;
            top: 116px;
            left: 160px;

            width: 309px;
            height: 30px;
            background-image: url(../images/logo.png);
            background-repeat: no-repeat;

            &.news {
                position: static;
            }
        }

        h1 {
            margin: 0;
            width: 540px;
            position: absolute;
            z-index: 1;
            top: 213px;
            left: 50px;

            text-align: center;
            font-weight: bold;
            font-style: italic;
            font-size: 47px;
            line-height: 58px;

            &.news {
                display: block;
                position: relative;
                width: auto;
                top: 173px;
                left: auto;
            }
        }

        .iphone {
            position: absolute;
            top: 136px;
            left: 635px;

            width: 278px;
            height: 438px;
            background-image: url(../images/iphone.png);
            background-repeat: no-repeat;
        }

        .download {
            display: block;
            position: absolute;
            left: 74px;
            top: 467px;
            height: 51px;
            width: 240px;
            padding: 10px;

            background-color: $blue;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;

            color: white;
            font-family: 'Exo', sans-serif;
            font-weight: 500;
            text-decoration: none;

            table {
                width: 100%;

                td {
                    padding: 0;
                    vertical-align: top;
                }
            }

            .big {
                text-align: right;
                font-size: 23px;
                line-height: 29px;
            }

            .small {
                text-align: right;
                font-size: 13px;
            }

            .app-icon {
                width: 70px;

                & > div {
                    width: 51px;
                    height: 51px;
                    background-image: url(../images/app-icon.png);
                    background-repeat: no-repeat;
                    margin-right: 10px;
                    margin-left: auto;
                }
            }
        }

        .appstore {
            position: absolute;
            width: 183px;
            height: 85px;
            left: 366px;
            top: 464px;

            table {
                width: 100%;

                color: black;
                font-family: 'Exo', sans-serif;
                font-weight: bold;
                font-size: 13px;

                .text {
                    vertical-align: top;
                    padding-top: 3px; 
                }

                .appstore-icon {
                    position: relative;
                    z-index: 1;

                    & > div {
                        width: 110px;
                        height: 37px;
                        background-image: url(../images/appstore.png);
                        background-repeat: no-repeat;
                    }
                }

                .devices-icon {
                    & > div {
                        width: 101px;
                        height: 85px;
                        background-image: url(../images/devices.png);
                        background-repeat: no-repeat;
                        margin-left: -26px;
                        margin-top: -15px;
                    }
                }
            }
        }

        .header {
            position: absolute;
            width: 100%;
            height: 53px;

            .tongue {
                position: absolute;
                top: 0;
                left: 736px;

                width: 189px;
                height: 52px;
                background-image: url(../images/tongue.png);
                background-repeat: no-repeat;
            }

            .social {
                position: absolute;
                top: 15px;
                left: 779px;

                td {
                    padding-right: 20px;
                }

                .icon-facebook {
                    width: 10px;
                    height: 19px;
                    background-image: url(../images/icon-facebook.png);
                    background-repeat: no-repeat;
                }

                .icon-twitter {
                    width: 23px;
                    height: 17px;
                    background-image: url(../images/icon-twitter.png);
                    background-repeat: no-repeat;
                }

                .icon-mail {
                    width: 19px;
                    height: 13px;
                    background-image: url(../images/icon-mail.png);
                    background-repeat: no-repeat;
                }
            }
        }

        .languages {
            position: absolute;
            top: 17px;
            left: 608px;

            font-style: italic;
            font-size: 15px;

            td {
                padding-left: 15px;

                a, a:visited {
                    text-decoration: none;
                    color: $gray;
                }

                a:hover {
                    text-decoration: underline;
                    color: black;
                }
            }
        }
    }

    .focus-block {
        height: 322px;
        position: relative;
        z-index: 1;
        margin-top: 50px;

        > table {
            width: 870px;
            margin: 0 auto;

            .focus-image {
                width: 410px;

                > div {
                    margin: auto;
                    width: 324px;
                    height: 221px;
                    background-image: url(../images/focus.png);
                    background-repeat: no-repeat;
                }
            }
        }

        .duchamp {
            .image-duchamp {
                width: 86px;

                > div {
                    width: 69px;
                    height: 69px;
                    background-image: url(../images/duchamp.png);
                    background-repeat: no-repeat;
                }
            }

            .title {
                font-family: 'Exo', sans-serif;
                font-weight: bold;
                font-size: 30px;
                line-height: 25px;
                padding-top: 5px;
            }

            .subtitle {
                color: $textGray;
                font-weight: 600;
                font-style: italic;
                font-size: 40px;
                line-height: 35px;
                padding-bottom: 5px;
            }

            .preview {
                font-weight: 600;
                font-style: italic;
                font-size: 21px;
                line-height: 26px;
                padding-top: 5px;
            }

            .description {
                font-size: 17px;
                line-height: 22px;
                padding-top: 10px;
            }
        }
    }

    .slider-block {
        height: 220px;
        position: relative;
        z-index: 1;
        padding-top: 60px;
        padding-bottom: 60px;

        table {
            width: 100%;

            .text {
                width: 400px;

                &.right {
                    padding-left: 40px;
                    text-align: right;
                }

                &.left {
                    padding-right: 40px;
                    text-align: left;
                }
            }

            .title {
                font-family: 'Exo', sans-serif;
                font-weight: bold;
                font-size: 30px;
                line-height: 25px;
                padding-top: 5px;
            }

            .subtitle {
                color: $textGray;
                font-weight: 600;
                font-style: italic;
                font-size: 40px;
                line-height: 40px;
                padding-bottom: 5px;
            }

            .description {
                font-size: 21px;
                line-height: 26px;
                padding-top: 10px;
            }

            .picto {
                margin: auto;

                &.one {
                    width: 278px;
                    height: 187px;
                    background-image: url(../images/slide-1.png);
                    background-repeat: no-repeat;
                }

                &.two {
                    width: 206px;
                    height: 187px;
                    background-image: url(../images/slide-2.png);
                    background-repeat: no-repeat;
                }

                &.three {
                    width: 327px;
                    height: 172px;
                    background-image: url(../images/slide-3.png);
                    background-repeat: no-repeat;
                }

                &.four {
                    width: 276px;
                    height: 215px;
                    background-image: url(../images/slide-4.png);
                    background-repeat: no-repeat;
                }
            }
        }
    }

    .review-block {
        height: 500px;
        position: relative;
        z-index: 1;

        .title {
            width: 100%;
            text-align: center;
            margin: 54px auto 44px auto;
            font-family: 'Exo', sans-serif;
            font-weight: bold;
            font-size: 30px;

            small {
                color: $textGray;
                font-family: 'Crimson Text', serif;
                font-weight: 500;
                font-style: italic;
                font-size: 21px;
            }
        }

        .reviews {
            margin: 0 auto;
            border-collapse: collapse;

            td {
                padding: 0;
            }

            .tile {
                display: block;
                position: relative;
                width: 236px;
                padding: 20px 23px 30px 23px;
                color: white;

                .text {
                    font-size: 20px;
                    line-height: 28px;
                    font-weight: 500;
                    font-style: italic;

                    span {
                        font-size: 40px;
                        line-height: 20px;
                        vertical-align: -10px;
                    }
                }

                .author {
                    margin-top: 20px;
                    font-size: 16px;
                    font-weight: lighter;
                }

                &.blue {
                    background-color: $blue;
                }

                &.gray {
                    background-color: $gray;
                }

                &.black {
                    background-color: black;
                }

                .perso {
                    position: absolute;
                    width: 100px;
                    height: 100px;
                    bottom: -36px;
                    right: 16px;

                    &.one {
                        background-image: url(../images/perso1.png);
                        background-repeat: no-repeat;
                    }

                    &.two {
                        background-image: url(../images/perso2.png);
                        background-repeat: no-repeat;
                    }

                    &.three {
                        background-image: url(../images/perso3.png);
                        background-repeat: no-repeat;
                    }
                }
            }
        }

        .download {
            display: block;
            position: absolute;
            left: 240px;
            bottom: -35px;
            height: 51px;
            width: 310px;
            padding: 10px;

            background-color: $blue;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;

            color: white;
            font-family: 'Exo', sans-serif;
            font-weight: 500;
            text-decoration: none;

            table {
                width: 100%;

                td {
                    padding: 0;
                    vertical-align: top;
                }
            }

            .big {
                text-align: left;
                font-size: 17px;
                line-height: 50px;
            }

            .app-icon {
                width: 65px;

                & > div {
                    width: 51px;
                    height: 51px;
                    background-image: url(../images/app-icon.png);
                    background-repeat: no-repeat;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }

        .appstore-icon {
            position: absolute;
            left: 593px;
            bottom: -18px;

            width: 110px;
            height: 37px;
            background-image: url(../images/appstore.png);
            background-repeat: no-repeat;
        }
    }

    .social-block {
        height: 340px;
        position: relative;
        z-index: 1;
        padding-top: 80px;
        padding-bottom: 30px;

        table {
            padding-left: 20px;
            padding-right: 10px;

            td {
                vertical-align: top;

                &.padding {
                    padding-right: 40px;
                }
            }

            .title {
                font-size: 17px;
                font-weight: 600;
                font-style: italic;
                padding-top: 8px;
            }

            .twitter {
                width: 400px;
            }

            .follow-facebook {
                position: relative;
                height: 57px;
                padding: 17px 0 17px 80px;
                text-align: left;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 57px;
                    height: 57px;
                    background-image: url(../images/facebook.png);
                    background-repeat: no-repeat;
                }

                .fb-like {
                    margin-top: 18px;
                }
            }

            .follow-twitter {
                position: relative;
                height: 57px;
                padding: 17px 0 17px 80px;
                text-align: left;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 57px;
                    height: 57px;
                    background-image: url(../images/twitter.png);
                    background-repeat: no-repeat;
                }

                .twitter-follow-button {
                    margin-top: 15px;
                }
            }

            textarea {
                width: 215px;
                height: 190px;
                // background-color: #e2e2e2;
                background-color: white;
                margin-top: 8px;
                border: none;
                outline: 0;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
            }

            .send {
                display: inline-block;
                padding: 13px 18px;
                margin-top: 5px;
                background-color: #8c8c8c;
                text-decoration: none;

                font-family: 'Exo', sans-serif;
                font-weight: 500;
                font-size: 13px;
                color: white;
            }

            .send:visited {
                color: white;
            }
        }
    }

    .footer-block {
        height: 58px;
        position: relative;
        z-index: 1;
        padding-top: 30px;

        table {
            margin: 0 auto;

            color: black;
            font-size: 13px;

            .logo {
                width: 180px;

                & > div {
                    width: 149px;
                    height: 14px;
                    background-image: url(../images/logo-footer.png);
                    background-repeat: no-repeat;
                    margin: auto;
                }
            }

            .about, .about:visited {
                color: black;
                font-weight: 600;
            }

            .design, .link-designer, .link-designer:visited {
                color: #666666;
            }

            .logo-designer > div {
                width: 17px;
                height: 9px;
                background-image: url(../images/logo-designer.png);
                background-repeat: no-repeat;
            }
        }
    }

    .news-block {
        height: 460px;
        position: relative;
        z-index: 1;
        padding-top: 40px;
        padding-bottom: 40px;

        &.small {
            height: 260px;
        }

        &.long-text {
            height: 480px;
        }

        table {
            width: 100%;

            .text {
                width: 600px;

                &.right {
                    padding-left: 20px;
                    padding-right: 40px;
                    text-align: left;
                }

                &.left {
                    padding-left: 40px;
                    padding-right: 20px;
                    text-align: left;
                }

                &.top {
                    vertical-align: top;
                }

                &.single {
                    padding-left: 40px;
                    padding-right: 40px;
                }
            }

            .title {
                font-family: 'Exo', sans-serif;
                font-weight: bold;
                font-size: 30px;
                line-height: 40px;
                padding-top: 5px;
            }

            .subtitle {
                color: $textGray;
                font-weight: 600;
                font-style: italic;
                font-size: 26px;
                line-height: 32px;
            }

            .description {
                font-size: 21px;
                line-height: 26px;
                padding-top: 10px;
            }

            .legend {
                text-align: center;
                font-size: 14px;
            }

            .picto {
                margin: auto;

                &.one {
                    width: 280px;
                    height: 189px;
                    background-image: url(../images/duchamp-live.png);
                    background-repeat: no-repeat;
                }

                &.two {
                    width: 234px;
                    height: 175px;
                    background-image: url(../images/adiaf.jpg);
                    background-repeat: no-repeat;
                }

                &.three {
                    width: 240px;
                    height: 504px;
                    background-image: url(../images/iphone-white.png);
                    background-repeat: no-repeat;
                }

                &.four {
                    width: 276px;
                    height: 215px;
                    background-image: url(../images/slide-4.png);
                    background-repeat: no-repeat;
                }
            }
        }
    }

    .about-company {
        height: 200px;
        position: relative;
        z-index: 1;
        width: 900px;
        padding: 20px 40px;

        .title {
            font-weight: bold;
            font-style: italic;
            font-size: 34px;
            line-height: 50px;
            padding-top: 5px;
        }

        .content {
            font-size: 21px;
            line-height: 26px;
            padding-top: 10px;
        }
    }

    a.link {
        color: black;

        &:focus, &:visited, &:active {
            color: black;
        }
    }
}